.s1{
    background-color: #ccc;
    padding: 20px;
    color: #000;
    display: block;
    margin: 15px;
}
.s2{
    background-color: #666;
    padding: 10px;
    color: #fff;
    width: 33.3333%;
    display: block;
    float:left;
    box-sizing: border-box;
    margin-bottom: 20px;
   
}
.s3{
    background-color: #888;
    padding: 10px;
    color: #fff;
    width: 33.3333%;
    display: block;
    float:left;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.s4{
    background-color: #eee;
    padding: 10px;
    color: #000;
    height: 10cm;
    display: block;
    box-sizing: border-box;
   clear: both;
}
.s5{
    background-color: #6ea3da;
    padding: 20px;
    color: #000;
    margin-top: 70px;
    margin-bottom: 50px;
    border: 1px solid #6ea3da;
    box-sizing: border-box;
}
.s6{
    background-color: #fff;
    border: 30px solid #fff;
    box-sizing: border-box;
    float:left;
    margin-left: 10px;
    margin-bottom: 100px;
}
